<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/javascripts/lib/jquery.min.js"></script>
    <script src="/javascripts/lib/popper.min.js"></script>
    <script src="/javascripts/lib/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"      integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==",
          crossorigin="" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>
    <script src="./javascripts/mapping.js"></script>
  </head>
  <body>
    <div id="mapid"></div>
    <p id="details"></p>
    <canvas id="myChart"></canvas>
    <canvas id="myChart2"></canvas>
  </body>
</html>
